<p>
    <a data-role="button" id="FirstVisit" class="btn btn-primary btn-lg" href="#new/result/FirstVisit">{{{polyglot "FirstVisit" }}}</a> &nbsp; <a data-role="button" id="SecondVisit" class="btn btn-primary btn-lg" href="#new/result/SecondVisit">{{{polyglot "SecondVisit" }}}</a>
</p>
<table id="records">
    <thead><tr>
        <th>{{{polyglot "Question" }}}</th>
        <!--<th>{{{polyglot "User" }}}</th>-->
        <th>{{{polyglot "dateModified" }}}</th>
    </tr></thead>
    <tbody></tbody>
</table>
