<!--<td class="recordTs">{{faveColor-blue}}</td>-->
<!--<td class="recordTs">{{faveColor-orange}}</td>-->
<!--<td class="recordTs">{{faveColor-red}}</td>-->
<!--<td class="recordTs">{{faveColor-yellow}}</td>-->
<!--<td class="recordTs">{{faveColor-green}}</td>-->
<!--<td class="recordTs">{{faveColor-purple}}</td>-->
<!--<td class="recordTs">{{faveColor-brown}}</td>-->
<!--<td class="recordTs">{{faveColor-black}}</td>-->
<!--<td class="recordTs">{{faveColor-white}}</td>-->
<td class="recordTs">{{key}} - {{value}}</td>

