<td>
    <h2>What is your favorite color?</h2>
    <table id="stats">
        <tr><td>Blue:</td><td>{{faveColor-blue}}</td></tr>
        <tr><td>Orange:</td><td>{{faveColor-orange}}</td></tr>
        <tr><td>Red:</td><td>{{faveColor-red}}</td></tr>
        <tr><td>Yellow:</td><td>{{faveColor-yellow}}</td></tr>
        <tr><td>Green:</td><td>{{faveColor-green}}</td></tr>
        <tr><td>Purple:</td><td>{{faveColor-purple}}</td></tr>
        <tr><td>Brown:</td><td>{{faveColor-brown}}</td></tr>
        <tr><td>Black:</td><td>{{faveColor-black}}</td></tr>
        <tr><td>White:</td><td>{{faveColor-white}}</td></tr>
    </table>
    <h2>Is this your first time in DC?</h2>
    <table id="stats">
        <tr><td>Yes:</td><td>{{firstTimeDC-yes}}</td></tr>
        <tr><td>No:</td><td>{{firstTimeDC-no}}</td></tr>
    </table>
    <h2>How many times have you been to CIES before?</h2>
    <table id="stats">
        <tr><td>0:</td><td>{{numberTimesCIES-0}}</td></tr>
        <tr><td>1:</td><td>{{numberTimesCIES-1}}</td></tr>
        <tr><td>2:</td><td>{{numberTimesCIES-2}}</td></tr>
        <tr><td>3:</td><td>{{numberTimesCIES-3}}</td></tr>
        <tr><td>More than 3:</td><td>{{numberTimesCIES-more}}</td></tr>
    </table>
    <h2>Do you prefer coffee or tea?</h2>
    <table id="stats">
        <tr><td>Coffee:</td><td>{{coffeeOrTea-coffee}}</td></tr>
        <tr><td>Tea:</td><td>{{coffeeOrTea-tea}}</td></tr>
        <tr><td>Both:</td><td>{{coffeeOrTea-both}}</td></tr>
        <tr><td>Neither:</td><td>{{coffeeOrTea-neither}}</td></tr>
    </table>
</td>